.Loading {
  text-align: center;
  box-sizing: border-box;
}

.Loading-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .Loading-logo {
    animation: Loading-logo-spin infinite 3s alternate;
  }
}

.Loading-header {
  background-color: #fbe351;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  font-weight: 900;
  color: black;
}

.Loading-link {
  color: #61dafb;
}

@keyframes Loading-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
