@font-face {
  font-family: "qore";
  src: url("../qore.otf");
}
.mainPage {
  margin: 0px 103px 0 103px;

  &_landscape {
    border: 1px solid white;
    border-radius: 50px;
    background: url("../img/landscape.png");
    height: 320px;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 98px;
    width: 85%;
    margin-bottom: 30px;
  }
  &_bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &_chat {
      width: 640px;
      min-width: 500px;
      height: 250px;
      background-color: #f6f2f2;

      &_messages {
        height: 230px;
        margin: 10px;
        background-color: #f6f2f2;
        padding-top: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        overflow-y: auto;
        &_chatBlock {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          &_single {
            border-radius: 5px;
            display: flex;
            flex-direction: row;
            font-family: "Montserrat", sans-serif;
            font-size: 12px;
            color: black;
            margin: 0;
            margin-bottom: 8px;

            &_time {
              color: #bab5b5;
              margin: 0;
              margin-right: 10px;
            }
            &_user {
              font-weight: 400;
              margin: 0;
              margin-right: 7px;
            }
            &_message {
              margin: 0;
            }
          }
        }
        &_users {
          min-width: 20%;
          display: flex;
          flex-direction: column;
          justify-content: baseline;
          border-left: 1px solid #bab5b5;

          &_names {
            margin: 0;
            margin-bottom: 10px;
            font-family: "Montserrat", sans-serif;
            font-size: 16px;
            margin-left: 10px;
            color: #bab5b5;

            &_name {
              margin: 0;
            }

            .hiddenblock {
              position: absolute;
              width: 100px;
              height: 100px;
              display: none;
              background-color: black;
            }
          }
          &_names:hover {
            color: black;
            cursor: pointer;
          }
          &_names:hover &_hiddenblock {
            display: block;
          }
        }
      }
      &_send {
        width: 400px;
        min-width: 300px;
        margin-left: 40px;
        height: 30px;
        border-radius: 3px;
        border: none;
        background-color: #d9d9d9;
        padding: 0px 10px;
        caret-color: #f6f2f2;
        color: black;
        font-family: "Montserrat", sans-serif;
        margin-bottom: 20px;
      }
      input:focus {
        outline: none;
      }
      &_sendImg {
        position: relative;
        top: 5px;
        margin-left: -30px;
        cursor: no-drop;
      }
    }
    &_links {
      display: flex;
      flex-direction: row;
      justify-content: end;

      &_route {
        display: flex;
        flex-direction: column;

        &_title {
          font-family: "Montserrat", sans-serif;
          font-size: 35px;
          margin-top: 0px;
          margin-bottom: 20px;
          text-align: center;
        }

        &_points {
          height: 180px;
          display: flex;
          width: 100%;
          flex-direction: column;
          justify-content: space-between;
          margin-right: 100px;
          align-items: center;
          &_single {
            width: 200px;
            min-width: 140px;
            height: 46px;
            border-radius: 12px;
            border: none;
            font-size: 15px;
            font-family: "Montserrat", sans-serif;
            cursor: pointer;
          }
        }
      }
    }
  }
}
